@import "tailwindcss";

:root {
  --font-rhat: "Red Hat Text", sans-serif;
  --default-font-family: var(--font-rhat);
}

body {
  font-family: var(--default-font-family);
  position: relative;
  background-color: #fff1f2;
  width: 100vw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
